@import "reset/variables", "reset/reset", "reset/mixins", "reset/keyframes";

body{
	min-height: 4700vh;
	background-color: black;
	padding: 0 0 10em;
}
video{
	position: fixed;
	top: 10vh;
	left: 20%;
	height: 80vh;
	object-fit: contain;
	z-index: 1;
	
}


